html, body, ul, li, a, span, img, div, fieldset, legend, label, select, option, textarea, button {
	margin: 0;
	padding: 0;
}

#wrapper {
	margin: 15px;
}

li {
	list-style-type: none;
	border-bottom: 1px solid black;
	padding: 9px;
}

li:first-of-type {
	border-top: 1px solid black;
}

.invisible {
	display: none;
}

a {
	text-decoration: none;
	color: black;
}

img {
	width: 20px;
	height: 20px;
}