<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CSS Styling Exam Variant 2 - Task 1</title>
    <script>
    exports.runBeforeTests = function () {
        $("body").css("padding", "0");
        $("body").css("margin", "0");
        $("html").css("padding", "0");
        $("html").css("margin", "0");
        $("#wrapper").css("padding", "0");
        $("#wrapper").css("margin", "0");
    }

    exports.tests = [
        // Font sizes
        {
            name: "Font size of the title", points: 4, func: function () {
                return $("header>h1").css("font-size");
            }, expected: "16px", compare: "equal", compareParam: null
        },

        {
            name: "Font size of the menu", points: 4, func: function () {
                return $("#nav>ul>li").css("font-size");
            }, expected: "14px", compare: "equal", compareParam: null
        },

        {
            name: "Font size of the archive", points: 3, func: function () {
                return $("#archives>a").css("font-size");
            }, expected: "14px", compare: "equal", compareParam: null
        },

        {
            name: "Font size of the search", points: 3, func: function () {
                return $("#search>a").css("font-size");
            }, expected: "14px", compare: "equal", compareParam: null
        },

        {
            name: "Font size of the content title", points: 4, func: function () {
                return $("#content>h1").css("font-size");
            }, expected: "24px", compare: "equal", compareParam: null
        },

        {
            name: "Font size of the content", points: 4, func: function () {
                return $("#content>article>p").css("font-size");
            }, expected: "14px", compare: "equal", compareParam: null
        },


        // Colors
        {
            name: "Title text color difference", points: 3, func: function () {
                return $.xcolor.distance($("header>h1").css("color"), "#575E5B");
            }, expected: 0, compare: "equalDiff", compareParam: 15
        },

        {
            name: "Menu text color difference", points: 2, func: function () {
                return $.xcolor.distance($("#nav>ul>li").css("color"), "#575E5B");
            }, expected: 0, compare: "equalDiff", compareParam: 15
        },

        {
            name: "Archive text color difference", points: 3, func: function () {
                return $.xcolor.distance($("#archives>a").css("color"), "#C6C6C6");
            }, expected: 0, compare: "equalDiff", compareParam: 15
        },

        {
            name: "Search text color difference", points: 2, func: function () {
                return $.xcolor.distance($("#search>a").css("color"), "#C6C6C6");
            }, expected: 0, compare: "equalDiff", compareParam: 15
        },

        {
            name: "Content title text color difference", points: 3, func: function () {
                return $.xcolor.distance($("#content>h1").css("color"), "#575E5B");
            }, expected: 0, compare: "equalDiff", compareParam: 15
        },

        {
            name: "Content text color difference", points: 2, func: function () {
                return $.xcolor.distance($("#content>article>p").css("color"), "#575E5B");
            }, expected: 0, compare: "equalDiff", compareParam: 15
        },


        // Page
        {
            name: "No padding or margin at the start of the page", points: 2, func: function () {
                return $("header").offset().top;
            }, expected: 0, compare: "equal", compareParam: null
        },


        // Header
        {
            name: "Header height", points: 5, func: function () {
                return $("header").outerHeight();
            }, expected: 49, compare: "equalDiff", compareParam: 2
        },

        {
            name: "Header has background image", points: 4, func: function () {
                return $("header").css("background-image").indexOf("header-bg.png") > -1;
            }, expected: true, compare: "equal", compareParam: null
        },


        // Header title
        {
            name: "Header title left offset is correct", points: 4, func: function () {
                return $("header>h1").offset().left
                    + parseInt($("header>h1").css("padding-left"));
            }, expected: 15, compare: "equalDiff", compareParam: 2
        },

        {
            name: "Header title top offset is correct", points: 4, func: function () {
                return $("header>h1").offset().top
                    + parseInt($("header>h1").css("padding-top"));
            }, expected: 15, compare: "equalDiff", compareParam: 2
        },

        {
            name: "Header title is uppercased", points: 4, func: function () {
                return $("header>h1").css("text-transform").indexOf("uppercase") > -1;
            }, expected: true, compare: "equal", compareParam: null
        },


        // Menu (navigation)
        {
            name: "Menu is right floated", points: 5, func: function () {
                return $("#nav>ul>li").eq(0).offset().left;
                +parseInt($("#nav>ul>li").eq(0).css("padding-left"));
            }, expected: 712, compare: "equalDiff", compareParam: 50
        },

        {
            name: "Menu top offset is correct", points: 4, func: function () {
                return $("#nav>ul>li").eq(0).offset().top
                    + parseInt($("#nav>ul>li").eq(0).css("padding-top"));
            }, expected: 17, compare: "equalDiff", compareParam: 2
        },

        {
            name: "Distance between two menu links", points: 4, func: function () {
                var a1 = $("#nav>ul>li").eq(0).offset().left;
                var a2 = $("#nav>ul>li").eq(1).offset().left;
                return Math.abs(a1 - a2);
            }, expected: 57, compare: "equalDiff", compareParam: 3
        },

        {
            name: "Two menu links are on the same line", points: 5, func: function () {
                var a1 = $("#nav>ul>li").eq(0).offset().top;
                var a2 = $("#nav>ul>li").eq(1).offset().top;
                return Math.abs(a1 - a2);
            }, expected: 0, compare: "equal", compareParam: null
        },


        // Search bar and archive
        {
            name: "searchBar has black background color", points: 4, func: function () {
                return $.xcolor.distance($("#searchBar").css("background-color"), "#000000");
            }, expected: 0, compare: "equalDiff", compareParam: 15
        },

        {
            name: "Horizontal offset between archive links and searchBar", points: 3, func: function () {
                var a1 = $("#searchBar").offset().top;
                var a2 = $("#archives>a").eq(0).offset().top;
                return Math.abs(a1 - a2);
            }, expected: 10, compare: "equalDiff", compareParam: 2
        },

        {
            name: "Vertical offset between archive links and searchBar", points: 3, func: function () {
                var a1 = $("#searchBar").offset().left;
                var a2 = $("#archives>a").eq(0).offset().left;
                return Math.abs(a1 - a2);
            }, expected: 19, compare: "equalDiff", compareParam: 2
        },

        {
            name: "Archive links and search text are on the same line", points: 4, func: function () {
                var a1 = $("#archives>a").eq(0).offset().top;
                var a2 = $("#search>a").offset().top;
                return Math.abs(a1 - a2);
            }, expected: 0, compare: "equal", compareParam: null
        },

        {
            name: "Archive links are not underlined", points: 4, func: function () {
                return $("#archives>a").css("text-decoration").indexOf("none") > -1;
            }, expected: true, compare: "equal", compareParam: null
        },

        {
            name: "Search is right floated", points: 4, func: function () {
                return $("#search>a").offset().left;
            }, expected: 911, compare: "equalDiff", compareParam: 50
        },
    ];
    </script>
</head>
<body>
	<div id="wrapper">
		<header>
			<div id="title">
				<h1>
					Nikolay Kostov's blog
				</h1>
				<h2>
					Just another developer&trade;
				</h2>
			</div>
			<nav id="nav">
				<ul>
					<li>Home</li>
					<li>About me</li>
				</ul>
			</nav>
			<div class="clear"></div>
		</header>
		<div id="line"></div>
		<div id="content">
			<h1>Good luck!</h1>
			<article>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl odio, semper quis sapien aliquam, volutpat ornare ligula. Etiam facilisis elit libero, quis luctus leo convallis in. Aenean bibendum eros eu viverra condimentum. Proin bibendum sollicitudin placerat. Donec bibendum ac dolor id dignissim. In ultricies ipsum eget nisi eleifend iaculis. Quisque arcu lacus, suscipit eu sollicitudin at, porttitor non purus.</p>
				<p>Maecenas convallis enim magna, sed vehicula est lobortis a. Nunc iaculis non enim id molestie. Sed rhoncus dictum massa eu faucibus. Maecenas commodo nisi eu nunc hendrerit, eu malesuada dui congue. Donec mattis, sem quis tempus feugiat, dolor risus interdum tortor, at facilisis urna nisl molestie nunc. Phasellus felis lorem, elementum accumsan neque ut, imperdiet hendrerit velit. Sed leo magna, semper mollis ullamcorper eu, interdum sed odio. Fusce mauris lacus, fermentum ut accumsan et, vestibulum in lorem. Vivamus ultrices vitae erat sed ornare. Sed mattis libero non sagittis vehicula.</p>
				<p>Mauris mollis mi vel purus pellentesque ultricies. Ut quis ipsum a odio placerat ullamcorper a a dui. Maecenas accumsan eget urna eu ultrices. Nunc bibendum non dui vel lobortis. Proin accumsan purus et vehicula fermentum. Duis non varius odio, id pharetra nunc. Sed sodales sapien a imperdiet viverra. Curabitur molestie, magna non sollicitudin vehicula, orci ligula vestibulum tortor, quis euismod massa augue ut arcu. Donec sed ante ornare, lobortis tellus eget, mollis metus.</p>
				<p>Nulla facilisi. In hac habitasse platea dictumst. Suspendisse scelerisque dolor quam, molestie dictum justo pharetra et. Mauris vehicula accumsan libero, quis auctor urna condimentum a. Suspendisse nisi urna, ultrices ut urna ac, consequat sollicitudin dolor. Quisque hendrerit enim et nunc tempor sagittis. Donec id euismod est, vitae condimentum sem. Sed volutpat diam et metus aliquam, id porta leo dictum. Donec ornare, lacus eu venenatis dignissim, erat risus dictum turpis, nec porttitor odio dolor eget sapien. Morbi id luctus massa. Pellentesque vulputate sit amet turpis non congue. Donec semper placerat viverra. Donec nec blandit neque.</p>
				<p>Donec velit turpis, vehicula at pharetra vitae, luctus quis metus. Integer nec est in lacus suscipit consectetur faucibus in lacus. Donec hendrerit dui in mi scelerisque, vestibulum auctor nisl pellentesque. Vivamus fringilla purus id feugiat porta. Pellentesque dapibus arcu risus, eget vehicula est sollicitudin nec. Phasellus sed velit ligula. Donec eu suscipit massa.</p>
			</article>
		</div>
		<aside id="aside">
			Search
			<hr />
			<form method="GET" action="/search">
				<input type="search" />
			</form>
		</aside>
	</div>
</body>
</html>
